* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #edf2f8;
  padding: 50px;
}

.testimonials {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "a a b c"
    "d e e c";
  gap: 25px;
}

.card {
  padding: 30px;
  border-radius: 12px;
  line-height: 1.5;
  box-shadow: 0 30px 8---0px rgba(0, 0, 0, 0.2);
}

.card-purple { grid-area: a; background: #733fc8; color: #fff; }
.card-dark   { grid-area: b; background: #49556b; color: #fff; }
.card-white  { grid-area: c; background: #ffffff; color: #48556a; }
.card-light  { grid-area: d; background: #ffffff; color: #48556a; }
.card-black  { grid-area: e; background: #18202d; color: #fff; }

.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc; 
  margin-right: 15px;
}

.user h4 {
  font-size: 14px;
  margin-left:8px;
}

.user span {
  font-size: 12px;
  opacity: 0.6;
  margin-left:8px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  opacity: 0.7;
}

